body {
  border-left: 5px lightgray solid;
  margin: auto;
  font-family: sans-serif;
  min-height: 100vh;
  max-width: 1000px;



}

* {
  box-sizing: border-box;



}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;


}


main{
  padding: 1rem 2rem 1rem 2rem;
}